@import "tailwindcss";

html {
  scroll-behavior: smooth;
  background-color: #1a002b;
}

/* Fondo personalizado opcional */
body {
  background-image: url("../assets/fondo.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

@keyframes typing-strong {
  0% {
    width: 0;
  }
  60% {
    width: 100%;
  }
  70%, 100% {
    width: 100%;
  }
}

@keyframes blink-strong {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #7c3aed; /* Un morado brillante */
  }
}

.animate-typing-strong {
  display: inline-block;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #7c3aed;
  animation:
    typing-strong 3.5s steps(40, end) 0.5s forwards,
    blink-strong 0.8s step-end infinite;
  text-shadow: 0 0 10px #7c3aed90, 0 0 20px #7c3aed50; 
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
